body{
    background:#D2D7D3;
    font-family: 'Open Sans', sans-serif;
    color:#D2D7D3;
    margin:0 auto;
}
#create{
    border:none;
    height:50px;
    width:200px;
    background:#2574A9;
    display:block;
    margin:5px auto 0;
}
#draw{
    border:none;
    height:50px;
    width:200px;
    background:#2574A9;
    display:block;
    margin:0 auto;
}
#reload{
    border:none;
    height:20px;
    width:100px;
    background:#2574A9;
    display:block;
    margin:0 auto;
    box-shadow: 2px 2px 5px #22313F;
    font-size:.5em;
    text-transform:uppercase;
    font-weight:700;
    border-radius:5px;
}
#create:focus, #draw:focus, #reload:focus{
    outline:0;
}

#create, #draw{
    box-shadow: 2px 2px 5px #22313F;
    font-size:1.5em;
    text-transform:uppercase;
    font-weight:700;
    border-radius:5px;
}
#create:hover, #draw:hover, #reload:hover{
    cursor: pointer;
    cursor: hand;
}
h1, h3{
    text-align:center;
}
h1{
    font-size:2em;
}
#wrapper{
    width:80%;
    height:300px;
    background:#4183D7;
    margin:40px auto 2% auto;
    padding:2%;
    border-radius:5px;
    box-shadow: 2px 2px 5px #22313F;
}
footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: .5rem;
    background-color: #2C3E50;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size:.5em;
    font-weight: 700;
}
footer a{
    text-decoration:none;
    font-weight:700;
    color:#22313F;
}
/*#counter{
    float:right;
}*/
#nav{
    height:25px;
    width:100%;
    font-weight: 700;
    color:#E4F1FE;
    margin:0 auto;
    background: #2C3E50;
    background-size: contain;
    padding-top:3px;
    position:fixed;
    top:0;
    overflow:hidden;
}

#counter{
    clear:left;
    float:left;
    display:inline-block;
    position: relative;

}
#content{
    width:90%;
    height:80px;
    margin: 0 auto;
}
a:link, a:visited, a:active{
    color:#E4F1FE;
    text-decoration:none;
}
